@font-face {
    font-family: 'Bebas';
    src : url('./fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'nanumGothic';
    src : url('./fonts/NanumGothic-Regular.ttf');
}


@font-face {
    font-family: 'nazanin';
    src : url('./fonts/B-NAZANIN.TTF');
}


body {
    font-family: 'nanumGothic';
}
.heading {
    font-family: 'Bebas';
    font-weight: bold;
    display: block;
}

.header {
    border-bottom: 1px solid rgb(255, 184, 255);

}

.author {
    font-size: 1rem;
    font-family: 'nanumGothic';
}

.date {
    font-family: 'nanumGothic';
    font-size: 0.89em;
    color: rgb(206, 11, 108);
}

.index {
    border-bottom: 1px solid rgb(67, 95, 255);
    border-bottom-style: dashed;
    padding-bottom: 1.2rem;
    margin-bottom: 1.5rem;

}

.index-section {
    border-bottom: 1px solid rgb(67, 95, 255);
    border-bottom-style: dashed;
    padding-bottom: 1.2rem;

}

ol {
   list-style: upper-roman;
   font-size: 1.18rem;
}

ol li {
    margin-bottom: 0.7rem;
}

ol a {
    text-decoration: none;
    color: inherit;
}



ol li:hover {
    color:rgb(206, 11, 108);
    cursor: pointer;
}

ol li a:hover {
    color:rgb(206, 11, 108);
}
.persian {
    direction: rtl;
    font-family: 'nazanin';
}

.persian ol li {
    margin-bottom: 0.7rem;
    font-family: 'nanumGothic';

}

.persian ol a {
    text-decoration: none;
    color: inherit;
    font-family: 'nazanin';
}

.persian ol li:hover {
    color:rgb(206, 11, 108);
    cursor: pointer;
}

.persian ol li a:hover {
    color:rgb(206, 11, 108);
}

.persian .para {
    font-size: 1.4rem;
}

.article-heading {
    font-weight: bold;

}

.article-heading-cntnr {
    border-bottom: 1px solid rgb(206, 11, 108);
    padding-bottom: 1.2rem;
}

.para {
    font-size: 1.1rem;
}
 
.para-indented {
    padding-left: 0.6rem;
}
.persian .para-indented {
    padding-right: 0.6rem;
}

.og-authors {
    padding: 0.5rem;
    direction: ltr;
    font-style: italic;
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    font-family: 'nanumGothic';
}

.og-authors:hover {
    color:rgb(47, 12, 161);
    cursor: pointer;
}

.article-cntnr {
    padding-bottom: 1.2rem;
    border-bottom: 2px solid  rgb(57, 9, 146);
}

.list-item-cntnr {
    padding-left: 2rem;

}

.persian .list-item-cntnr {
    padding-right: 2rem;

}

.list-item-cntnr li a {
    font-size: 1.1rem;
}

.persian .list-item-cntnr li a {
    font-size: 1.2rem;
}

.footer {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.inline-en {
    font-family: 'nanumGothic';
    font-size: 1.2rem;
    font-weight: 500;
    
}

.inline-en:hover {
    color: rgb(47, 12, 161);
    cursor: pointer;
}

strong {
    font-size: 1.2rem;
}

@media( max-width: 768px) {
    .inner-container {
        width: 83.333%;
    }
    .container-sm {
        display: flex;
    }
    .heading {
        font-size: 1.45rem;
    }
    .index {
        font-size: 1.2rem;
    }

    .author {
        font-size: 0.8rem;
    }
   

    ol {
        font-size: 0.6rem;
    }
     
    ol li {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    .para {
        font-size: 1.2rem;
    }
     
    .para-indented {
        padding-right: 0.3rem;
    }

    .list-item-cntnr li a {
        font-size: 1rem;
    }
    .og-authors {
        font-style: italic;
        font-size: 0.7rem;
        letter-spacing: 0.01rem;
    }
     
}
